<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlehZd07TaXGDJ7drm0mt--OpMZCEbBAA</string>
	<key>GCM_SENDER_ID</key>
	<string>1006753724429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Fouad-Shalaby.PlanPal</string>
	<key>PROJECT_ID</key>
	<string>planpal-448ac</string>
	<key>STORAGE_BUCKET</key>
	<string>planpal-448ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006753724429:ios:6a60973d0f2e6d90b93d44</string>
</dict>
</plist>